body{
text-align: center;
background-color: black;
color: white;
font-family: cursive;
}
.topnav a{
    color: rgba(131, 131, 131, 0.842);
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 17px;

}

   .topnav a:hover{
    color: white;
   }

   .topnav{
    overflow: hidden;
    background-color: black;
   }
   .topnav a:active{
    background-color: #ffe066;
   }
   .img1{
float: right;
   }
   
